footer
    .container
        .row
            .col
                ul
                    ol
                      a(href="#") Facebook
                    ol
                      a(href="#") Twitter
                    ol
                      a(href="#") Google+
                    ol
                      a(href="#") Linkedln
                    ol
                      a(href="#") Behance
                    ol
                      a(href="#") Dribbble
                    ol
                      a(href="#") Github