header
    .container
        .row
            .col-md-3.col-sm-3
                img(src="../img/logo.png", alt="")
            .col-md-3.col-sm-3
            .col-md-6.col-sm-6
                ul
                    ol
                        a(href="#") HOME
                    ol
                        a(href="#") ABOUT
                    ol
                        a(href="#") WORK
                    ol
                        a(href="#") BLOG
                    ol
                        a(href="#") CONTACT
                    