@import _core/color
@import _core/mixins
.home_slider
    background: $tim
    min-height: 368px
    color: red
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    justify-content: center
    align-items: center
    display: flex
    text-align: center
    .btn-more
        background: $vang
.home_service
    background: $ngoc
    min-height: 368px
    color: red
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    justify-content: center
    align-items: center
    display: flex
    text-align: center
    h2
        text-transform: uppercase
        position: relative
        &:before
            content: ''
            width: 5rem
            height: .3rem
            background: black
            display: block
            position: absolute
            transform: translateX(-50%)
            left: 50%
            bottom: -8px
            opacity: 0.4
.home_bot
    background: darken($trangnhe,3%)
    min-height: 368px
    color: red
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    justify-content: center
    align-items: center
    display: flex
    text-align: center
    h2
        text-transform: uppercase
        position: relative
        &:before
            content: ''
            width: 5rem
            height: .3rem
            background: black
            display: block
            position: absolute
            transform: translateX(-50%)
            left: 50%
            bottom: -8px
            opacity: 0.4
    .col-md-3.col-sm-6
        img
            width: 180px
            height: 180px
            border-radius: 50%
            -moz-border-radius: 50%
            -webkit-border-radiuus: 50%
.home_bot_2
    min-height: 368px
    color: red
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    justify-content: center
    align-items: center
    display: flex
    text-align: center
    h2
        text-transform: uppercase
        position: relative
        &:before
            content: ''
            width: 5rem
            height: .3rem
            background: black
            display: block
            position: absolute
            transform: translateX(-50%)
            left: 50%
            bottom: -8px
            opacity: 0.4
.home_bot_3
    min-height: 368px
    background: $vang
    color: red
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    justify-content: center
    align-items: center
    display: flex
    text-align: center
    h2
        text-transform: uppercase
        position: relative
        &:before
            content: ''
            width: 5rem
            height: .3rem
            background: black
            display: block
            position: absolute
            transform: translateX(-50%)
            left: 50%
            bottom: -8px
            opacity: 0.4
    .btn-light
        margin: 3px
        width: 5rem
        background: darken($vang,5%)
        border-color: darken($vang,5%)
        &:hover
            background: white
    .btn-more
        background: $ngoc
        width: 13rem
        height: 3rem
        font-size: 1.5rem
    a.btn.btn-more
        color: white
.home_body_4
    min-height: 368px
    background: $do
    color: red
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    justify-content: center
    align-items: center
    display: flex
    text-align: center
    h2
        text-transform: uppercase
        position: relative
        &:before
            content: ''
            width: 5rem
            height: .3rem
            background: black
            display: block
            position: absolute
            transform: translateX(-50%)
            left: 50%
            bottom: -8px
            opacity: 0.4
    .abc
        width: 80px
        height: 80px
        background: $ngoc
        border-radius: 50%
        -moz-border-radius: 50%
        -webkit-border-radiuus: 50%
        margin-top: 1rem
        display: block




