extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Hi there! we are the new kids on the block and we build awnsome websites and mobile apps
					p
						a.btn.btn-more(href="#") WORK WITH US! 
	section.home_service
		.container
			.row
				.col
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row.mt-5
				.col-md-3.col-sm-6
					img(src="./img/home_icon_1.png", alt="")
					h5 BRANDING
					p.siz Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aut modi nobis, cupiditate totam nostrum sequi repellendus voluptate asperiores corrupti earum eveniet aliquid minima quis animi ut. Esse, necessitatibus eum.
				.col-md-3.col-sm-6
					img(src="./img/home_icon_2.png", alt="")
					h5 DESIGN
					p.siz Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aut modi nobis, cupiditate totam nostrum sequi repellendus voluptate asperiores corrupti earum eveniet aliquid minima quis animi ut. Esse, necessitatibus eum.
				.col-md-3.col-sm-6
					img(src="./img/home_icon_3.png", alt="")
					h5 DEVELOPMENT
					p.siz Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aut modi nobis, cupiditate totam nostrum sequi repellendus voluptate asperiores corrupti earum eveniet aliquid minima quis animi ut. Esse, necessitatibus eum.
				.col-md-3.col-sm-6
					img(src="./img/home_icon_4.png", alt="")
					h5 ROCKET SCIENCE
					p.siz Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aut modi nobis, cupiditate totam nostrum sequi repellendus voluptate asperiores corrupti earum eveniet aliquid minima quis animi ut. Esse, necessitatibus eum.
	section.home_bot
		.container
			.row
				.col
					h2 MEET OUR BEAUTIFUL TEAM
					p We are a small team of designers and developers, who help brands with big ideas.
			.row.mt-5
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h5 ANNE HATHAWAY
					p
						a(href="#") CEO / Marketing Guru
					p.siz Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est necessitatibus ipsam beatae iste dolorum nisi, perferendis voluptate esse blanditiis asperiores similique cum quibusdam rerum ex fuga. Iste similique odit neque!
					a.fa.fa-facebook(href="#")
					a.fa.fa-twitter(href="#")
					a.fa.fa-instagram(href="#")
					a.fa.fa-envelope-o(href="#")
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h5 ANNE HATHAWAY
					p
						a(href="#") CEO / Marketing Guru
					p.siz Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est necessitatibus ipsam beatae iste dolorum nisi, perferendis voluptate esse blanditiis asperiores similique cum quibusdam rerum ex fuga. Iste similique odit neque!
					a.fa.fa-facebook(href="#")
					a.fa.fa-twitter(href="#")
					a.fa.fa-envelope-o(href="#")
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h5 ANNE HATHAWAY
					p
						a(href="#") CEO / Marketing Guru
					p.siz Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est necessitatibus ipsam beatae iste dolorum nisi, perferendis voluptate esse blanditiis asperiores similique cum quibusdam rerum ex fuga. Iste similique odit neque!
					a.fa.fa-facebook(href="#")
					a.fa.fa-twitter(href="#")
					a.fa.fa-instagram(href="#")
					a.fa.fa-envelope-o(href="#")
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h5 ANNE HATHAWAY
					p
						a(href="#") CEO / Marketing Guru
					p.siz Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est necessitatibus ipsam beatae iste dolorum nisi, perferendis voluptate esse blanditiis asperiores similique cum quibusdam rerum ex fuga. Iste similique odit neque!
					a.fa.fa-facebook(href="#")
					a.fa.fa-twitter(href="#")
					a.fa.fa-envelope-o(href="#")