extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 dafffffffffffffffffffffffffffffffffdasfffffffff
					p
						a.btn.btn-more(href="#") CLICK 
	section.home_service
		.container
			.row
				.col 
					h2 jadasoidjsaidosajdisa
					p ádjsakdjsakldsaj
			.row
				.col-md-3.col-sm-6
					img(src="./img/home_icon_1.png", alt="")
					h3 sadnsakjdhsajdksad
					p ádjsakdhsajkdsahdsajk
				.col-md-3.col-sm-6
					img(src="./img/home_icon_2.png", alt="")
					h3 sadnsakjdhsajdksad
					p ádjsakdhsajkdsahdsajk
				.col-md-3.col-sm-6
					img(src="./img/home_icon_3.png", alt="")
					h3 sadnsakjdhsajdksad
					p ádjsakdhsajkdsahdsajk
				.col-md-3.col-sm-6
					img(src="./img/home_icon_4.png", alt="")
					h3 sadnsakjdhsajdksad
					p ádjsakdhsajkdsahdsajk
	section.home_bot
		.container
			.row
				.col
					h2 ạkdhasudkashdsakjd
					p áidsakdjsaids
			.row
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h3 sdsadsadasdsadsadsa
					p saoidasjdsaiodasdjasd
					p sadjsadijsadsa
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h3 sdsadsadasdsadsadsa
					p saoidasjdsaiodasdjasd
					p sadjsadijsadsa
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h3 sdsadsadasdsadsadsa
					p saoidasjdsaiodasdjasd
					p sadjsadijsadsa
				.col-md-3.col-sm-6
					img(src="./img/index_body_hinh1.png", alt="")
					h3 sdsadsadasdsadsadsa
					p saoidasjdsaiodasdjasd
					p sadjsadijsadsa
	section.home_bot_2
		.container
				.row
					.col
						h2 ạkdhasudkashdsakjd
						p áidsakdjsaids
	section.home_bot_3
		.container
			.row
				.col
					h2 ấodjsaidsadis
					p ăddasdsadsadsa
			.row
				.col
					p 
						a.btn.btn-light(href="#") ALL
						a.btn.btn-light(href="#") WEB
						a.btn.btn-light(href="#") APPS
						a.btn.btn-light(href="#") ICONS
			.row
				.col-sm-6.col-md-6
					img(src="./img/index_body_laptop2.png", alt="")
					p sadasdsadasd
				.col-sm-6.col-md-6
					img(src="./img/index_body_laptop2.png", alt="")
					p sadsadsadsa
				.col-sm-6.col-md-6
					img(src="./img/index_body_laptop2.png", alt="")
					p sadasdsadsa
				.col-sm-6.col-md-6
					img(src="./img/index_body_laptop2.png", alt="")
					p ádsadsadsas
			.row
				.col
					p
						a.btn.btn-more(href="#") click here
	section.home_body_4
		.container
			.row-sss
				.col
					h2 ádjsakldjsakldsajd
					p sadjskldjsa
			.row
				.col-md-1.col-sm-6
					.abc
				.col-md-3.col-sm-6
					p ádsadadasdsadsa
					p sdasdasdsad
				.col-md-2
				.col-md-1.col-sm-6
					.abc
				.col-md-3.col-sm-6
					p ádsadadasdsadsa
					p sdasdasdsad
			.row
					.col-md-1.col-sm-6
						.abc
					.col-md-3.col-sm-6
						p ádsadadasdsadsa
						p sdasdasdsad
					.col-md-2
					.col-md-1.col-sm-6
						.abc
					.col-md-3.col-sm-6
						p ádsadadasdsadsa
						p sdasdasdsad